.heading{
    width:100%;
    font-size: 23px;
    margin: 0px ;
  text-align: center;
  box-shadow: 5px 5px 5px orange;
}

.note{
    width: 100% ;
    font-size: 15px;
}

.footer{
    position: fixed;
    bottom: 0;
    width:100%;
    text-align: center;
    line-height: 4;
}

canvas{
    border: 5px solid black ;
    border-radius:20px ;
    box-shadow: 5px 5px 5px green;
}
